.App {
  text-align: center;
}

.App-header {
  background-color: rgb(233, 174, 79);
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Search-Bar {
  background-color:rgb(233, 174, 79);
  justify-content: center;
  padding: 5vh;
}
